.header__container {
  background-image: url('../../public/images/bg-mobile-light.jpg');
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-inline: 1.5rem;
  padding-block: 2rem;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  margin-inline: auto;
}

.header h1 {
  letter-spacing: 1rem;
  color: #fff;
}


.header button {
  border: none;
  background-color: transparent;
}


@media only screen and (min-width: 64rem) {
  .header {
    background-image: url('../../public/images/bg-desktop-light.jpg');
  }
}