.card {
  border-radius: 0.3125rem;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  background-color: #fff;
  max-width: 33rem;
  margin-inline: auto;
  width: 90%;
}

.card.todos {
  padding-block-end: 1rem;
  margin-block-end: 1rem;
  transform: translateY(-5rem);
}

.card.todos__cta--mobile {
  padding-block: 0.95rem;
  margin-inline: 1.5rem;
  transform: translateY(-5rem);
}

.card.todos__cta--mobile nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.card.todos__cta--mobile nav a {
  color: #9495a5;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  transition: 200ms color ease-in-out;
  cursor: pointer;
}

.card.todos__cta--mobile nav a:hover {
  color: #494c6b;
}

.card.todos__cta--mobile nav a.cta__active {
  color: #3a7cfd;
}

@media only screen and (min-width: 48rem) {
  .card.todos {
    transform: translateY(-7rem);
  }
  .card.todos__cta--mobile {
    display: none;
  }
}
