.todos__details {
  display: flex;
  padding-inline: 1.25rem;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 1rem;
}


.todos__details--items-left {
  color: #9495A5;
  font-size: 0.75rem;
}

.todos__details--clear-btn {
  border: none;
  color: #9495A5;
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
}


.todos__drag-n-drop-label {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-2.5rem);
}

.todos__cta--desktop {
  display: none;
}

.todos__drag-n-drop-label p {
  color: #9495A5;
  font-size: 0.875rem;
  text-align: center;
}

@media only screen and (min-width: 48rem) {
  .todos__cta--desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.19rem;
  }


  .todos__cta--desktop a {
    color: #9495a5;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
  }
}