.todos {
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
  margin-inline: 1.5rem;
  padding-block: 1rem;
  /* background-color: red; */
}


.todos__details {
  display: flex;
  padding-inline: 1.25rem;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid hsla(236, 32%, 92%, 1);
  padding-block-start: 1rem;
}


.todos__details--items-left {
  color: #9495A5;
  font-size: 0.75rem;
}


.todos__details--clear-btn {
  border: none;
  color: #9495A5;
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
}